<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/lib/angular-notify/dist/angular-notify.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootwatch.min.css' />
    <link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/lib/angular-material/angular-material.min.css' />
  </head>
  <body>
    <div ng-app="weatherApp">
		<header>
			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">AngularJS Weather</a>
					</div>
				</div>
			</nav>
		</header>
  		<div class="row container-fluid">
    		<div ui-view></div>
    	</div>	
  	</div>
    <script src='/lib/jquery/dist/jquery.min.js'></script>
  	<script src='/lib/angular/angular.min.js'></script>
    <script src='/lib/angular-resource/angular-resource.min.js'></script>
  	<script src='/lib/angular-ui-router/release/angular-ui-router.min.js'></script>
    <script src='/lib/angular-animate/angular-animate.min.js'></script>
    <script src='/lib/angular-aria/angular-aria.min.js'></script>
    <script src='/lib/angular-bootstrap/ui-bootstrap-tpls.min.js'></script>
    <script src='/lib/angular-material/angular-material.min.js'></script>
    <script src='/lib/angular-notify/dist/angular-notify.min.js'></script>
  	<script src='/javascripts/angularApp.js'></script>
	  <script src='/javascripts/controllers/homeCtrl.js'></script>
    <script src='/javascripts/controllers/forecastCtrl.js'></script>
    <script src='/javascripts/services/weatherAPI.js'></script>
    <script src='/javascripts/services/cityService.js'></script>
    <script src='/javascripts/routes/HomeRoute.js'></script>
    <script src='/javascripts/routes/ForecastRoute.js'></script>    
  </body>
</html>